
    body { 
        font-family: 'Segoe UI', sans-serif; 
        background-color: rgba(185, 186, 163, 1); 
        padding: 20px; 
        display: flex; 
        flex-direction: column; 
        align-items: center; }

    .container { 
        width: 100%; 
        max-width: 500px; 
    }

    .card {
        background: rgba(214, 213, 201, 1); 
        padding: 20px; 
        border-radius: 12px; 
        box-shadow: 0 4px 15px rgba(0, 53, 81, 1); 
        margin-bottom: 25px; 
        border-top: 5px solid rgba(0, 53, 81, 1); 
    }

    h2,h3 { 
        color: rgba(102, 155, 188, 1); 
            font-size: 1.1rem; 
            margin-top: 0; 
            margin-bottom: 15px; 
    }
    
    label { 
            font-size: 0.9rem; 
            color: rgba(0, 53, 81, 1); 
            display: block; 
            margin-bottom: 5px; 
    }

    input { 
            width: 95%; 
            padding: 10px;
            margin-bottom: 15px; 
            border: 1px solid rgba(120, 0, 0, 1); 
            border-radius: 6px; 
            font-size: 1rem; 
    }

    button { 
        width: 100%; 
        padding: 12px; 
        background-color: rgba(102, 155, 188, 1); 
        color: rgba(253, 240, 213, 1); 
        border: none; 
        border-radius: 6px; 
        cursor: pointer; 
        font-weight: bold; 
        transition: 0.3s; 
    
    }
    button:hover { 
        background-color: rgba(193, 18, 31, 1); 
    }
        
    .resultado-caja { 
            margin-top: 15px; 
            padding: 15px; 
            background-color: #e8f0fe; 
            border-left: 5px solid rgba(102, 155, 188, 1); 
            border-radius: 4px;
            display: none; 
            color: #202124;
            font-size: 0.95rem;
            line-height: 1.6;
        }
    b { 
        color: rgba(102, 155, 188, 1); 
    }
